/* Sidebar do carrinho */
.cart-sidebar {
    position: fixed;
    top: 0;
    width: 500px;
    height: 100vh;
    background: #fff;
    box-shadow: -2px 0 16px rgba(0,0,0,0.15);
    z-index: 9999;
    overflow-y: auto;
    transition: right 0.4s cubic-bezier(.4,0,.2,1);
    padding: 30px 20px 30px 20px;
    border-radius: 0 0 0 0;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 160px #000;
    right: -999px; /* Inicia escondido */
    transition: right 0.5s;

}
.cart-sidebar.cart-open {
    right: 0;
}

@keyframes slideFadeIn {
  from {
    opacity:0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.cart-title{
  font-family: "montserrat-semibold";
  text-transform: uppercase;
  font-size: 20px;
  color: #a52446;
}

.cart-item{
  height: 101px;
  width: 465px;
  max-width: 465px;
  border: 1px solid #a5a5a5;
  padding: 10px 30px 10px 10px;
  position: relative;
  /* border-top: 0; */
  }



.cart-items {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.cart-botton img {
  color: white;
  height: 30px;
  cursor: pointer;
  display: flex;
  padding-right: 20px;
}

.align-items-start {
  -ms-flex-align: start!important;
  align-items: flex-start !important;
}

.d-flex {
  display: flex !important;
}

.item-image{
  flex-shrink: 0;
  margin-right: 10px;
  flex: 0 0 95px;
  justify-content: center;
  display: flex;
  align-items: center;
  height: 101px;
}

.item-image img{
  width: 70px;
  height: 79px;
  max-width: 70px;
  object-fit: contain;
}

.item-details {
  display: flex;
  width: 286px;
  height: 76px;
  flex-direction: column;
}

.item-title {
  margin-top: 0;
  margin-bottom: 0;
}

.quantity-button-wrapper {
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    width: auto;
    display: inline-block;
}

.quantity-buttons-input {
    border: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 40px;
    margin: 0 5px;
    text-align: center;
    font-size: 16px;
    font-family: "montserrat-medium";
}

.quantity-button {
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  border: none;
}

.cart-item-price {
    color: #a52446;
    font-family: "montserrat-medium";
    font-size: 15px;
    margin-top: 0;
}

.product-item-price {
    color: #a52446;
    font-family: "montserrat-medium";
    font-size: 18px;
}

.cart-item-remove {
  position: absolute;
  right: 0;
  bottom: 0;
  background-color: #f4f4f4;
  width: 52px;
  height: 98%;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  margin-left: 15px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border: 0;
}

.cart-item-remove:hover {
  background-color: #212121;
}
.cart-item-remove svg {
  fill: #212121;
  transition: fill 0.3s;
}
.cart-item-remove:hover svg {
  fill: white !important;
}

.cart-close {
  border: none;
  background-color: transparent;
}

.cart-total-title {
  font-family: "montserrat-semibold";
  font-size: 30px;
  color: #000000;
  margin-right: 10px;
  text-transform: uppercase;
}

.total-price{
  font-family: "montserrat-semibold";
  font-size: 30px;
  color: #a52446;
  text-transform: uppercase;
  margin-right: 0;
  justify-content: flex-end;
}

.box-cart-total {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
}

.box-cart-total .cart-total-title,
.box-cart-total .total-price {
  display: inline-block;
}