.html{
width: 1440px;
height: 2992px;
}

body{
background-color: #e6e6e6;
}

.index-navigation {
  display: flex;
  justify-content: center;
}

.index-navbar {
display: flex;
justify-content: center;
width: 1440px;
height: 80px;
background:  #fcfcfc;
box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.12);
border-radius: 10px;
justify-items: center;
align-items: center;
}

.nav-logo img {
  object-fit: cover;
  height: 100%;
  width: 30%;
}

.nav-logo{
width: 100%;
height: 100%;
display: flex;
align-items: center;
justify-content: flex-start;
}

/* .nav-name{
display: flex;
width: 344px;
color: #000;
font-family: Roboto;
font-size: 28px;
font-style: normal;
font-weight: 500;
line-height: 36px;
justify-content: center;
align-items: center;
} */

.navigation {
width: 644px;
display:flex;
align-items: center;
justify-content: flex-end;  

}

.nav-tab{
color: #000;
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */
border-radius: 6px;
justify-content: center;
align-items: center;
margin: 10px;
}


.text-field{
display: flex;
padding: 8px;
justify-content: center;
align-items: center;
justify-items: center;
gap: 4px;

}

.form-nav{
  display: flex;
  justify-content: center;
  align-items: center;
}


.text-field-nav{
flex: 1 0 0;
color: rgba(0, 0, 0, 0.50);
font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 20px; /* 142.857% */
align-items: center;
justify-content: center;
}

.search-icon-nav{
width: 20px;
height: 20px;
flex-shrink: 0;
aspect-ratio: 1/1;
display: flex;
justify-content: flex-end;
align-items: center;
}

/* Template Style #########################################################*/

.template {
display: flex;
justify-content: center;
align-items: center;
padding-top: 20px;
}

.templateindex {
justify-items:center ;
width: 1440px;
height: 376px;
padding-top: 40px;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 44px;
background: linear-gradient(0deg, rgba(0, 0, 0, 0.30) 0%, rgba(0, 0, 0, 0.30) 100%), 
url("fotocapaindex.jpg") lightgray 50% / cover no-repeat;
border-radius: 30px;


}

.contentetemplate {
display: flex;
width: 880px;
flex-direction: column;
align-items: center;
justify-items: center;
gap: 24px;

}

.title-template {
  width: 520px;
  color: #FFF;
  text-align: center;
  font-family: Roboto;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px; /* 120% */
}

.description-template {
width: 520px;
color: #FFF;
text-align: center;
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */
}

.input-template{
display: flex;
width: 520px;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 4px;
padding-bottom: 10px;

}

.text-input{
display: flex;
padding: 8px 12px;
align-items: center;
gap: 4px;
align-self: stretch;
border-radius: 6px;
border: 1px solid rgba(0, 0, 0, 0.10);
background: #FFF;
}

.button-template{
display: flex;
flex-direction: column;
align-items: center;
gap: 12px;
justify-items: center;
padding: 10px;

}

.button-btn-template{
display: flex;
width: 240px;
padding: 12px;
flex-direction: column;
justify-content: center;
align-items: center;
border-radius: 8px;
background: #000;
color: #FFF;
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 24px; /* 150% */

}

.tab-group-template{
  display: flex;
justify-content: center;
align-items: center;
gap: 12px;
}

.tab-template{
  display: flex;
width: 120px;
padding: 8px;
flex-direction: column;
align-items: center;
gap: 4px;
border-radius: 6px;
background: rgba(217, 217, 217, 0.50);

overflow: hidden;
color: #FFF;
text-align: center;
text-overflow: ellipsis;
font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 20px; /* 142.857% */
}


/* Popular Products ################################################*/
.popular-products {
  display: flex;
  flex-direction: column; /* Garante que o textcontainer fica em cima */
  align-items: center;
  width: 1220px;
  padding: 60px;
  gap: 60px;
  margin: auto;
}

.popular-products-textcontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  width: 100%;
  margin-bottom: 32px; /* Ocupa toda a largura */
}

.popular-products-title{
width: 520px;
color: #000;
text-align: center;
font-family: Roboto;
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: 48px; /* 120% */
}

.popular-products-resume{
width: 520px;
color: #000;
text-align: center;
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */
}

.popular-list {
  display: flex;
  height: 919px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  flex-shrink: 0;
  align-self: stretch;
  max-width: 1100px;
  max-height: 919px;
}

.popular-row{
  display: flex;
  width: 1100px;
  height: 410px;
  align-items: flex-start;
  gap: 40px;
  align-self: stretch;
}

.popular-card{
  display: flex;
  width: 340px;
  height: 410px;
  flex-direction: column;
  align-items: center;
  flex: 1 0 0;
  border-radius: 6px;
  background-color: white;
}

.popular-image-container{
  display: flex;
  width: 340px;
  height: 330px;
  align-items: flex-start;
  align-self: stretch;
  overflow: hidden;
  position: relative;
  justify-content: center;
}

.product-image {
  width: 80%;
  height: 100%; 
  border-radius: 6px; /* Opcional: cantos arredondados */
  display: flex;
}

.popular-text-content{
  display: flex;
  padding: 12px;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  align-self: stretch;
  width: 340px;
  height: 80px;
}

.popular-name{
  color: #000;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  align-self: stretch;

}

.popular-price {
  color: #000;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  align-self: stretch; 
}

.best-seller {
  position:absolute;
  top: 8px;                /* distância do topo */
  left: 8px;               /* distância da esquerda */
  padding: 4px 8px;
  border-radius: 4px;
}

.best-seller-tag{
  display: flex;
  padding: 4px 8px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.best-seller-text{
  color: #AF9C0A;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
}

.top-rated{
display: flex;
height: 333px;
padding: 0px 269px 309px 0px;
align-items: center;
flex: 1 0 0;
width: 340px;
height: 330px;
}

.top-rated-tag{
  display: flex;
  padding: 4px 8px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.top-rated-text{
  color: #25972D;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
}