<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    <title>Index</title>
</head>

<body>
    <div class="index-navigation">
        <nav class="index-navbar">
            <div class="nav-logo">
                <img src="static\logo1.png" alt="Logo empresa">
            </div>
            <!-- <div class="nav-name">
                Toni Correia Distribuição
            </div> -->
            <div class="navigation">
                <div class="nav-tab">
                    Home
                </div>
                <div class="nav-tab">
                    Products
                </div>
                <div class="nav-tab">
                    Contact Us
                </div>
                <div class="nav-tab">
                    Profile
                </div>
            </div>
            <div class="text-field">
                <form action="/search" class="form-nav">
                    <input type="text" name="query" placeholder="Search for wines..." class="text-fild-nav">
                        <div class="search-icon-nav">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M14.1356 14.9972C12.8151 16.1214 11.1034 16.7998 9.23329 16.7998C5.05434 16.7998 1.66663 13.4121 1.66663 9.23317C1.66663 5.05422 5.05434 1.6665 9.23329 1.6665C13.4122 1.6665 16.8 5.05422 16.8 9.23317C16.8 11.092 16.1297 12.7943 15.0177 14.1115L18.6497 17.7435L17.7658 18.6274L14.1356 14.9972ZM15.55 9.23317C15.55 12.7218 12.7219 15.5498 9.23329 15.5498C5.74469 15.5498 2.91663 12.7218 2.91663 9.23317C2.91663 5.74457 5.74469 2.9165 9.23329 2.9165C12.7219 2.9165 15.55 5.74457 15.55 9.23317Z" fill="black" fill-opacity="0.7"/>
                            </svg>
                        </div>
                </form>
            </div>
        </nav>
    </div>
    
    <div class="template">
        <div class="templateindex">
            <div class="contentetemplate">
                <div class="title-template">
                    Discover Your Perfect Wine
                </div>
                <div class="description-template">
                    Explore a wide selection of wines from around the world.
                </div>
                <form action="/search" method="get" class="search-form-template">
                    <div class="input-template">
                        <input type="text" name="query" placeholder="Search for wines..." class="text-input">
                    </div>
                    <div class="button-template">
                        <button type="submit" class="button-btn-template">
                            Shop Now
                        </button>
                    </div>
                    <div class="tab-group-template">
                        <div class="tab-template">Red</div>
                        <div class="tab-template">Red</div>
                        <div class="tab-template">Red</div>
                        <div class="tab-template">Red</div>
                    </div>
                </form>
            </div>       
        </div>
    </div>

    <div class="popular-products">
        <div class="popular-products-textcontainer">
            <p class="popular-products-title">Popular Wines</p>
            <p class="popular-products-resume">Check out our customers favourites</p>
        </div>
        <div class="popular-products-list">
            <div class="popular-products-list-row">
                <div class="popular-products-card">
                    <div class="popular-product-bestseller">
                        <div class="popular-products-image-container">
                            <div class="popular-products-image"></div>
                            <div class="popular-products-bestseller-tag">Best Seller</div>
                        </div>
                    </div>
                    <div class="poupular-products-info">
                        <p class="poupular-products-winename">Wine</p>
                        <p class="poupular-products-wineprice">999</p>
                    </div>
                </div>
                <div class="popular-products-card">
                    <div class="popular-product-toprated">
                        <div class="popular-products-image-container">
                            <div class="popular-products-toprated-tag">Top Rated</div>
                        </div>
                    </div>
                    <div class="poupular-products-info">
                        <p class="poupular-products-winename">Wine</p>
                        <p class="poupular-products-wineprice">999</p>
                    </div>
                </div>
                <div class="popular-products-card">
                    <div class="popular-products-image-container"></div>
                    <div class="poupular-products-info">
                        <p class="poupular-products-winename">Wine</p>
                        <p class="poupular-products-wineprice">999</p>
                    </div>
                </div>
            </div>
            <div class="popular-products-list-row">
                <div class="popular-products-card">
                    <div class="popular-products-image-container"></div>
                    <div class="poupular-products-info">
                        <p class="poupular-products-winename">Wine</p>
                        <p class="poupular-products-wineprice">999</p>
                    </div>
                </div>
                <div class="popular-products-card">
                    <div class="popular-products-image-container"></div>
                    <div class="poupular-products-info">
                        <p class="poupular-products-winename">Wine</p>
                        <p class="poupular-products-wineprice">999</p>
                    </div>
                </div>
                <div class="popular-products-card">
                    <div class="popular-products-image-container"></div>
                    <div class="poupular-products-info">
                        <p class="poupular-products-winename">Wine</p>
                        <p class="poupular-products-wineprice">999</p>
                    </div>
                </div>
            </div>            
        </div>
    </div>
    <form method="post" action="/logout">
        <button type="submit" >Sair</button>
    </form>

    {% if error %}
        <div class="error">{{ error }}</div>
    {% endif %}

    {% if not user %}
    <!-- <script>
        showPopup()
    </script>     -->
        <!-- <button type="button" onclick="window.location.href='/register/google/authorized'">
            Entrar com Google
        </button> -->
    {% else %}
        <p>Bem-vindo, {{ user }}!</p>
    {% endif %}

    {% if user %}Olá, {{ user }}{% endif %}

</body>
</html>