<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Login</title>
</head>
<body>
    <div class="container">
        <div class="left-side">
            <img src="/static/loginimage.jpg" alt="wine login page" class="loginImage">
        </div>

        <div class="righ-side">
            <form action="/login" method="POST" class="form-box">
                    <h2>Login</h2>
                    <input type="text" id="username" name="user" placeholder="Username" required>
                    <input type="password" id="password" name="pwd" placeholder="Password" required>
                    <button type="submit" class="button-register">Login</button>
                <div class="form-links">
                    <p>Não tem conta? <a href="/register">Crie uma aqui</a></p>
                </div>

                <div class="google-login">
                    
                </div>

            </form>

        </div>

    </div>
    
</body>
</html>